<sk-title heading="1">sk-button</sk-title>
<sk-divider></sk-divider>

<sk-section>
  <sk-title>HTML</sk-title>
  <button class="button">
    Html class=button
  </button>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>Sizes</sk-title>
  <sk-button size="xs">XS size</sk-button>
  <sk-button size="s">small</sk-button>
  <sk-button size="m">medium</sk-button>
  <sk-button size="l">large</sk-button>
  <sk-button size="xl">extra large</sk-button>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>Types</sk-title>
  <sk-button color="error">Error</sk-button>
  <sk-button color="warning">Warning</sk-button>
  <sk-button color="success">Success</sk-button>
  <sk-button color="info">Info</sk-button>
  <sk-button color="custom">Custom</sk-button>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>Fill</sk-title>
  <sk-button fill="fill">Fill</sk-button>
  <sk-button fill="plain">Plain</sk-button>
  <sk-button fill="outline">Outline</sk-button>
  <sk-button fill="contrast" color="custom">Custom Contrast</sk-button>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>Disabled</sk-title>
  <sk-button [disabled]="true">Disabled info</sk-button>
  <sk-button [disabled]="true" color="error">Disabled error</sk-button>
  <sk-button [disabled]="true" color="custom">Disabled custom</sk-button>
  <sk-button [disabled]="true" fill="plain">Disabled plain</sk-button>
  <sk-button [disabled]="true" fill="outline">Disabled outline</sk-button>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>Icons & Corners</sk-title>
  <sk-button corner="sharp">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
  <sk-button corner="xs" type="warning">
    <sk-icon icon="exclamation-triangle"></sk-icon>
  </sk-button>
  <sk-button corner="s">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
  <sk-button corner="m">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
  <sk-button corner="l">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
  <sk-button corner="xl" type="custom">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
  <sk-button corner="round" fill="outline" type="error">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
  <sk-button corner="inverted-leaf" type="success">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
  <sk-button corner="leaf" fill="plain" type="success">
    <sk-icon icon="times"></sk-icon>
  </sk-button>
</sk-section>

<sk-divider></sk-divider>


<sk-section>
  <sk-title>Elevation</sk-title>
  <sk-button elevation="none">No shadow</sk-button>
  <sk-button elevation="xs">XS shadow</sk-button>
  <sk-button elevation="s">S shadow</sk-button>
  <sk-button elevation="m">M shadow</sk-button>
  <sk-button elevation="l">L shadow</sk-button>
  <sk-button elevation="xl">XL shadow</sk-button>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>Special cases</sk-title>
  <ol>
    <li>narrow icon in round</li>
    <li>big icon small padding round</li>
    <li>small icon big padding in round</li>
  </ol>
  1:
  <sk-button corner="round" padding="xs" size="xl">
    <sk-icon icon="exclamation"></sk-icon>
  </sk-button>
  2:
  <sk-button corner="round" padding="xs" size="xl">
    <sk-icon icon="skull"></sk-icon>
  </sk-button>
  3:
  <sk-button corner="round" padding="xl" size="s">
    <sk-icon icon="skull"></sk-icon>
  </sk-button>
</sk-section>
