<div
  class="alert {{ !!type ? 'type--' + type : '' }}"
  [attr.skPadding]="padding ? defaultPadding : undefined"
  [attr.skFullWidth]="fullWidth ? defaultFullWidth : undefined">

  <span #icon class="alert__icon{{ alignIcon ? ' alert__icon--' + alignIcon : '' }}" *ngIf="hasIconContent">
    <ng-content select="[icon],[alert-icon],[slot=icon]"></ng-content>
  </span>

  <span *ngIf="!hasIconContent && (hasIcon || hasIcon === undefined && defaultHasIcon)"
        class="alert__icon{{ alignIcon ? ' alert__icon--' + alignIcon : '' }}">
    <sk-icon [icon]="icon" [type]="type"></sk-icon>
  </span>

  <ng-content></ng-content>

  <span *ngIf="hasIconContent" (click)="onDismiss()" #dismiss
        class="alert__dismiss{{ alignDismiss ? ' alert__dismiss--' + alignDismiss : '' }}">
    <ng-content select="[dismiss],[alert-dismiss],[slot=dismiss]"></ng-content>
  </span>

  <span *ngIf="!hasDismissContent && (dismissable || dismissable === undefined && defaultDismissable)"
        class="alert__dismiss{{ alignDismiss ? ' alert__dismiss--' + alignDismiss : '' }}" (click)="onDismiss()">
    <sk-icon [icon]="dismissIcon" type="close"></sk-icon>
  </span>
</div>
