<sk-section>
  <sk-bar position="middle" alignment="space-between">
    <sk-title margin="none" heading="1">sk-bar</sk-title>
    <sk-button padding="s">Some button</sk-button>
  </sk-bar>
</sk-section>
<sk-divider></sk-divider>
<sk-section>
  <sk-title>Two alerts</sk-title>
  <sk-bar alignment="space-between">
  <sk-alert alignIcon="middle">Hello I am left <br> but high</sk-alert>
  <sk-alert>Hello I am right</sk-alert>
  </sk-bar>
</sk-section>
<sk-divider></sk-divider>
<sk-section>
  <sk-title>Default / Left</sk-title>
  <sk-bar>
    <sk-button>First</sk-button>
    <sk-button>Second</sk-button>
    <sk-button>Third</sk-button>
  </sk-bar>
</sk-section>
<sk-divider></sk-divider>
<sk-section>
  <sk-title>Center</sk-title>
  <sk-bar alignment="center">
    <sk-button>First</sk-button>
    <sk-button>Second</sk-button>
    <sk-button>Third</sk-button>
  </sk-bar>
</sk-section>
<sk-divider></sk-divider>
<sk-section>
  <sk-title>Right</sk-title>
  <sk-bar alignment="right">
    <sk-button>First</sk-button>
    <sk-button>Second</sk-button>
    <sk-button>Third</sk-button>
  </sk-bar>
</sk-section>
<sk-divider></sk-divider>
<sk-section>
  <sk-title>Space evenly</sk-title>
  <sk-bar alignment="space-evenly">
    <sk-button>1</sk-button>
    <sk-button>2</sk-button>
    <sk-button>3</sk-button>
    <sk-button>4</sk-button>
  </sk-bar>
</sk-section>
<sk-divider></sk-divider>
<sk-section>
  <sk-title>Space around</sk-title>
  <sk-bar alignment="space-around">
    <sk-button>1</sk-button>
    <sk-button>2</sk-button>
    <sk-button>3</sk-button>
    <sk-button>4</sk-button>
    <sk-button>5</sk-button>
  </sk-bar>
</sk-section>
<sk-divider></sk-divider>
<sk-section>
  <sk-title>Space between</sk-title>
  <sk-bar alignment="space-between">
    <sk-button>1</sk-button>
    <sk-button>2</sk-button>
  </sk-bar>
  <sk-bar alignment="space-between">
    <sk-button>1</sk-button>
    <sk-button>2</sk-button>
    <sk-button>3</sk-button>
  </sk-bar>
</sk-section>
