<!--  [skType]="{'list-item&#45;&#45;', [type, defaultType]}"-->
<div
  class="list-item"
  [ngClass]="type ? 'list-item--' + type : ''"
  [skFill]="fill">
  <span
    *ngIf="!isInitialized || hasIconContent"
    #icon
    class="list-item__icon"
    [skPosition]="position ? position : defaultPosition">
    <ng-content select="[sk-list-item-icon],[slot=icon]"></ng-content>
  </span>

  <div class="list-item__content">
    <div class="list-item__title" *ngIf="!isInitialized || hasTitleContent" #title>
      <ng-content select="[sk-list-item-title],[slot=list-item-title]"></ng-content>
    </div>

    <ng-content></ng-content>
  </div>
</div>
