<div class="card">
  <div class="card__image" #image *ngIf="hasImageContent">
    <ng-content select="sk-image,[sk-card-image],[slot=image]"></ng-content>
  </div>

  <div class="card__header" #header *ngIf="hasHeaderContent">
    <ng-content select="[sk-card-header],[slot=card-header]"></ng-content>
  </div>

  <div class="card__content">
    <ng-content></ng-content>
  </div>

  <div class="card__footer" #footer *ngIf="hasFooterContent">
    <ng-content select="[sk-card-footer],[slot=footer]"></ng-content>
  </div>
</div>
