<sk-title heading="1">sk-image</sk-title>
<sk-divider></sk-divider>

<sk-image src="/assets/standardkit-icon.png" alt="I am an image"></sk-image>
<br>
<sk-image src="/assets/standardkit-icon.png">
  <span slot="caption">This is an image with a caption</span>
</sk-image>
<br>
<sk-image
  src="/assets/dummy-image.jpg"
  corner="leaf">
  <span caption>This is an image with leaf corners</span>
</sk-image>
<br>
<sk-image
  src="/assets/dummy-image.jpg"
  corner="round">
  <span caption>
    This is an image with round corners
    <br>
    and a multiline caption
  </span>
</sk-image>
