<sk-title [heading]="1">sk-highlight</sk-title>
<sk-divider></sk-divider>

<p>Some text with a
  <sk-highlight type="color">color highlight</sk-highlight>
  in between
</p>
<br>
<p>Some text with a
  <sk-highlight type="bold">bold highlight</sk-highlight>
  in between
</p>
<br>
<p>Some text with a
  <sk-highlight type="code">code highlight</sk-highlight>
  in between
</p>
<br>
<p>Some text with a
  <sk-highlight type="underline">underline highlight</sk-highlight>
  in between
</p>
<br>
<p>Some text with a
  <sk-highlight type="italic">italic highlight</sk-highlight>
  in between
</p>
