$log-level: all;

$themes: (
  default: (
    modifiers: (
      color: (custom: hotpink)
    ),
    components: (
      button: (default-color: custom2)
    )
  )
);

@use "~@standardkit/styles/scss" as standardkit with ($themes: $themes);
