/* You can add global styles to this file, and also import other style files */

@import "~@standardkit/styles/scss/style";
@import "~@standardkit/styles/scss/themes/default/fonts";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

$colors: (
  custom: hotpink,
  highlight: hotpink
);

@import "~@standardkit/styles/scss/style";
