/* You can add global styles to this file, and also import other style files */

@import "~@standardkit/themes/scss/default/theme";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

$textfont: 'Open Sans', sans-serif;
$fonts: (
  text: $textfont
);

@import "~@fortawesome/fontawesome-free/css/all.min.css";

$colors: (
  custom: hotpink,
  highlight: hotpink
);

@import "~@standardkit/styles/scss/style";
