<sk-title heading="1">sk-list</sk-title>
<sk-divider></sk-divider>

<sk-list>
  <sk-list-item>
    <sk-icon type="info" sk-list-item-icon></sk-icon>
    I am a list item with only content
  </sk-list-item>

  <sk-list-item>
    <sk-icon type="info" slot="icon"></sk-icon>
    <h3 sk-list-item-title>I am a list item with only a title</h3>
  </sk-list-item>

  <sk-list-item fill="fill" type="success">
    <sk-icon type="info" slot="icon"></sk-icon>
    <h3 slot="title">I am a list item</h3>
    With both a title and content and type "success" and fill "fill"
  </sk-list-item>

  <sk-list-item position="middle">
    <sk-icon type="error" slot="icon"></sk-icon>
    <h3 slot="title">I am a list item</h3>
    With a verically centered icon
  </sk-list-item>

  <sk-list-item>
    <h3 slot="title">I am a list item</h3>
    Without an icon
  </sk-list-item>
</sk-list>
<br>
<sk-list fill="fill" type="error">
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with type "error" and fill "fill"
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">I also am a list item</h4>
    In a list with type "error" and fill "fill"
  </sk-list-item>
  <sk-list-item fill="outline" type="info">
    <h4 slot="title">I also am a list item</h4>
    But i have type "info" and fill "outline"
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list  fill="plain" type="primary" elevation="xs">
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    I a list with elevation "xs", type "primary" and fill plain
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    I a list with elevation "xs", type "primary" and fill plain
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="s">
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "s"
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "s"
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="m">
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "m"
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "m"
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="l">
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "l"
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "l"
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="xl">
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "xl"
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "xl"
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="m" corner="leaf">
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "m" and corner "leaf"
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">I am a list item</h4>
    In a list with elevation "m" and corner "leaf"
  </sk-list-item>
</sk-list>
<br>
