<sk-title heading="1">sk-list</sk-title>
<sk-divider></sk-divider>

<sk-list>
  <sk-list-item>
    <sk-icon type="info" sk-list-item-icon></sk-icon>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>

  <sk-list-item>
    <sk-icon type="info" slot="icon"></sk-icon>
    <h3 sk-list-item-title>Title</h3>
  </sk-list-item>

  <sk-list-item>
    <sk-icon type="info" slot="icon"></sk-icon>
    <h3 slot="title">Title</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, praesentium!
  </sk-list-item>

  <sk-list-item alignIcon="middle">
    <sk-icon type="error" slot="icon"></sk-icon>
    <h3 slot="title">Title</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, magnam!
  </sk-list-item>

  <sk-list-item>
    <h3 slot="title">Title</h3>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel?
  </sk-list-item>
</sk-list>
<br>
<sk-list elevation="xs">
  <sk-list-item>
    <h4 slot="title">Item 1</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">Item 2</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="s">
  <sk-list-item>
    <h4 slot="title">Item 1</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">Item 2</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="m">
  <sk-list-item>
    <h4 slot="title">Item 1</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">Item 2</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="l">
  <sk-list-item>
    <h4 slot="title">Item 1</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">Item 2</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="xl">
  <sk-list-item>
    <h4 slot="title">Item 1</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">Item 2</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
</sk-list>
<br>
<br>
<sk-list elevation="m" corner="leaf">
  <sk-list-item>
    <h4 slot="title">Item 1</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
  <sk-list-item>
    <h4 slot="title">Item 2</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, veniam.
  </sk-list-item>
</sk-list>
<br>
<br>
