<input
  (ngModelChange)="onValueChange($event)"
  [attr.disabled]="disabled ? 'disabled' : undefined"
  [attr.placeholder]="placeholder"
  [attr.required]="required ? 'required' : undefined"
  [id]="fieldId"
  [ngClass]="state ? 'input--' + state : ''"
  [ngModel]="value"
  [skAutofocus]="focus"
  [skCorner]="corner ? corner : defaultCorner"
  [skPadding]="padding ? padding : defaultPadding"
  [skMargin]="margin ? margin : defaultMargin"
  [skSize]="size ? size : defaultSize"
  [skWidth]="width ? width : defaultWidth"
  [type]="type"
  class="input">
