<sk-dashboard-layout>

  <sk-navigation-bar>
    <sk-brand route="/">
      <sk-image src="/assets/standardkit-icon.png"></sk-image>
      Styleguide
    </sk-brand>
  </sk-navigation-bar>

  <sk-sidebar>
    <sk-navigation>
      <br>
      <sk-navigation-item icon="home" route="overview">Dashboard</sk-navigation-item>
      <br>
      <sk-navigation-title>Common</sk-navigation-title>
      <sk-navigation-item icon="info-circle" route="alert">Alert</sk-navigation-item>
      <sk-navigation-item icon="bars" route="bar">Bar</sk-navigation-item>
      <sk-navigation-item icon="location-arrow" route="button">Button</sk-navigation-item>
      <sk-navigation-item icon="code" route="code-block">Code block</sk-navigation-item>
      <sk-navigation-item icon="image" route="figure">Figure</sk-navigation-item>
      <sk-navigation-item icon="image" route="image">Image</sk-navigation-item>
      <sk-navigation-item icon="level-up-alt" route="modal">Modal</sk-navigation-item>
      <sk-navigation-item icon="spinner" route="spinner">Spinner</sk-navigation-item>
      <br>
      <sk-navigation-title>Data</sk-navigation-title>
      <sk-navigation-item icon="list" route="list">List</sk-navigation-item>
      <sk-navigation-item icon="list" route="table">Table</sk-navigation-item>
      <br>
      <sk-navigation-title>Forms</sk-navigation-title>
      <sk-navigation-item icon="i-cursor" route="input">Input</sk-navigation-item>
      <br>
      <sk-navigation-title>Typography</sk-navigation-title>
      <sk-navigation-item icon="heading" route="title">Title</sk-navigation-item>
      <sk-navigation-item icon="heading" route="subtitle">Subtitle</sk-navigation-item>
      <sk-navigation-item icon="paragraph" route="paragraph">Paragraph</sk-navigation-item>
      <sk-navigation-item icon="exclamation-circle" route="highlight">Highlight</sk-navigation-item>
      <sk-navigation-item icon="link" route="link">Link</sk-navigation-item>
      <sk-navigation-item icon="eye" route="icon">Icon</sk-navigation-item>

    </sk-navigation>
  </sk-sidebar>

  <router-outlet></router-outlet>
</sk-dashboard-layout>
