<sk-title heading="1">sk-figure</sk-title>
<sk-divider></sk-divider>

<sk-figure>
  <sk-image src="/assets/standardkit-icon.png"></sk-image>
</sk-figure>
<br>
<sk-figure>
  <sk-image src="/assets/standardkit-icon.png"></sk-image>
  <div figure-caption>I am a caption</div>
</sk-figure>
<br>
<sk-figure>
  <sk-image src="/assets/standardkit-icon.png"></sk-image>
  <ng-container slot="caption">
    <sk-title>I am a complex caption</sk-title>
    <sk-paragraph>With a title and a paragraph</sk-paragraph>
  </ng-container>
</sk-figure>
<br>
<sk-figure>
  <sk-image src="/assets/dummy-image.jpg" corner="round"></sk-image>
  <div caption>I am a caption</div>
</sk-figure>
