<sk-title heading="1">sk-alert</sk-title>
<sk-divider></sk-divider>

<div class="alert">
  <div class="alert__content">
    I am an alert without using the component
  </div>
</div>
<br>

<sk-alert>I am an alert</sk-alert>

<br>

<sk-alert [hasIcon]="true">I am an alert</sk-alert>

<br>

<sk-alert [hasIcon]="true" type="warning">I am a warning</sk-alert>
<br>
<sk-alert [hasIcon]="true" type="error">I am an error</sk-alert>
<br>
<sk-alert [hasIcon]="true" type="success">I am a success alert</sk-alert>
<br>
<sk-alert [hasIcon]="true" fill="fill" type="success">I am fill fill</sk-alert>
<br>
<sk-alert [hasIcon]="true" fill="outline" type="error">I am fill collins</sk-alert>
<br>
<sk-alert (dismiss)="visible = false" *ngIf="visible" [dismissable]="true">I am an dismissable</sk-alert>
<sk-button (skClick)="visible = true" *ngIf="!visible">Give me dismissable notification</sk-button>
<br>
<sk-alert [hasIcon]="true" alignIcon="middle">
  Icon is middle
  <br>
  You see?
</sk-alert>
<br>
<sk-alert [hasIcon]="true" alignIcon="bottom">
  Icon is bottom
  <br>
  down there
</sk-alert>
<br>
