<sk-title heading="1">sk-spinner</sk-title>
<sk-divider></sk-divider>

<sk-section>
  <sk-title>Default</sk-title>
  <sk-spinner></sk-spinner>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>Sizes</sk-title>
  <sk-spinner size="xs"></sk-spinner>
  <sk-spinner size="s"></sk-spinner>
  <sk-spinner></sk-spinner>
  <sk-spinner size="l"></sk-spinner>
  <sk-spinner size="xl"></sk-spinner>
</sk-section>

<sk-divider></sk-divider>

<sk-section>
  <sk-title>A spinner walks into a bar</sk-title>
  <sk-bar alignment="center">
    <sk-spinner></sk-spinner>
  </sk-bar>
</sk-section>

<sk-section>
  <sk-title>Types / Colors</sk-title>
  <sk-spinner type="primary"></sk-spinner>
  <sk-spinner type="secondary"></sk-spinner>
  <sk-spinner type="text"></sk-spinner>
  <sk-spinner type="info"></sk-spinner>
  <sk-spinner type="error"></sk-spinner>
  <sk-spinner type="warning"></sk-spinner>
  <sk-spinner type="success"></sk-spinner>
  <sk-spinner type="custom"></sk-spinner>
</sk-section>

<sk-section>
  <sk-title>Fill</sk-title>
  <sk-spinner fill="fill"></sk-spinner>
  <sk-spinner fill="plain"></sk-spinner>
  <sk-spinner fill="outline"></sk-spinner>
  <sk-spinner fill="contrast"></sk-spinner>
</sk-section>

<sk-section>
  <sk-title>Fill & Type</sk-title>
  <sk-spinner fill="fill" type="secondary"></sk-spinner>
  <sk-spinner fill="plain" type="secondary"></sk-spinner>
  <sk-spinner fill="outline" type="secondary"></sk-spinner>
  <sk-spinner fill="contrast" type="secondary"></sk-spinner>
</sk-section>


<sk-section>
  <sk-title>Margins</sk-title>
  <sk-spinner margin="xs"></sk-spinner>
  <sk-spinner margin="s"></sk-spinner>
  <sk-spinner></sk-spinner>
  <sk-spinner margin="l"></sk-spinner>
  <sk-spinner margin="xl"></sk-spinner>
</sk-section>
