<sk-title heading="1">sk-code-block</sk-title>
<sk-divider></sk-divider>

<sk-code-block>I am some code in a code block</sk-code-block>
<br>
<sk-code-block language="bash">
  npm install --save @standardkit/styles
  <br>
  npm install --save @standardkit/angular-components
</sk-code-block>
<br>
<sk-code-block language="bash">
  npm install --save @standardkit/styles
  <br>
  npm install --save @standardkit/angular-components
</sk-code-block>
<br>
<sk-code-block language="html" [code]="code"></sk-code-block>
