<ng-container [ngSwitch]="heading">
  <h1 *ngSwitchCase="1" class="subtitle" [ngClass]="type ? 'subtitle-' + type : undefined"
      [skMargin]="margin ? defaultMargin : undefined">
    <ng-content></ng-content>
  </h1>

  <h2 *ngSwitchCase="2" class="subtitle" [ngClass]="type ? 'subtitle-' + type : undefined"
      [skMargin]="margin ? defaultMargin : undefined">
    <ng-content></ng-content>
  </h2>

  <h3 *ngSwitchCase="3" class="subtitle" [ngClass]="type ? 'subtitle-' + type : undefined"
      [skMargin]="margin ? defaultMargin : undefined">
    <ng-content></ng-content>
  </h3>

  <h4 *ngSwitchCase="4" class="subtitle" [ngClass]="type ? 'subtitle-' + type : undefined"
      [skMargin]="margin ? defaultMargin : undefined">
    <ng-content></ng-content>
  </h4>

  <h5 *ngSwitchCase="5" class="subtitle" [ngClass]="type ? 'subtitle-' + type : undefined"
      [skMargin]="margin ? defaultMargin : undefined">
    <ng-content></ng-content>
  </h5>

  <h6 *ngSwitchCase="6" class="subtitle" [ngClass]="type ? 'subtitle-' + type : undefined"
      [skMargin]="margin ? defaultMargin : undefined">
    <ng-content></ng-content>
  </h6>
</ng-container>
