<sk-title [heading]="1">sk-paragraph</sk-title>
<sk-divider></sk-divider>

<sk-section>
  <sk-title>Default</sk-title>
  <sk-paragraph>I am a paragraph.</sk-paragraph>
</sk-section>

<sk-section>
  <sk-title>Sizes</sk-title>
  <sk-paragraph size="xs">Extra small text</sk-paragraph>
  <sk-paragraph size="s">small text</sk-paragraph>
  <sk-paragraph>default / medium text</sk-paragraph>
  <sk-paragraph size="l">large text</sk-paragraph>
  <sk-paragraph size="xl">Extra large text</sk-paragraph>
</sk-section>

<sk-section>
  <sk-title>Text Margins</sk-title>
  <sk-divider></sk-divider>
  <sk-paragraph margin="none">no margin</sk-paragraph>
  <sk-paragraph margin="none">no margin</sk-paragraph>
  <sk-divider></sk-divider>
  <sk-paragraph margin="xs">Extra small margin</sk-paragraph>
  <sk-paragraph margin="xs">Extra small margin</sk-paragraph>
  <sk-divider></sk-divider>
  <sk-paragraph margin="s">small margin</sk-paragraph>
  <sk-paragraph margin="s">small margin</sk-paragraph>
  <sk-divider></sk-divider>
  <sk-paragraph>Normal / default / medium margin</sk-paragraph>
  <sk-paragraph>Normal / default / medium margin</sk-paragraph>
  <sk-divider></sk-divider>
  <sk-paragraph margin="l">Large margin</sk-paragraph>
  <sk-paragraph margin="l">Large margin</sk-paragraph>
  <sk-divider></sk-divider>
  <sk-paragraph margin="xl">Extra large</sk-paragraph>
  <sk-paragraph margin="xl">Extra large</sk-paragraph>
  <sk-divider></sk-divider>
  <sk-paragraph margin="xxl">XXL Margin</sk-paragraph>
  <sk-paragraph margin="xxl">XXL Margin</sk-paragraph>
  <sk-divider></sk-divider>
</sk-section>

